/*  GERAL  -----------------------------------*/
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {  
    border: 0;
    box-sizing: border-box;
}


/* HEADER -----------------------------------*/
 .cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #c4c4c4;
    }

 .wrapper-entrada {
    width: 100%;
    display: flex;
    text-align: center;
 }

 .texto-logo {
    width: 100%;
}

.cabecalho-item {
    padding: 15px;
}


/* MENU -------------------------------------*/

.box-menu .menu {
    position: fixed;
    width: 85%;
    height: 100%;
    color: white;
    top: 0;
    right: 0;
    flex-direction: column;
    background: #333333;
    display: none;
}

.box-menu .menu .lista-menu{
    padding: 25px;
    text-align: right;
}

.menu .menu-separador {
    display: none;
}

.menu .menu-fechar {
    display: flex;
}

.box-menu .menu .lista-menu:hover{
    background: white;
    color: black;
}
.box-menu .menu .menu-fechar:hover {
background: #333333;
}

.box-menu:hover .menu {
    display: flex;
}





/* ENTRADAS -----------------------------------*/

/*  SÁIDAS-----------------------------------*/





/* ---------------MEDIA QUERY---------------------*/
 /* SMARTPHONE    - 411 x 731 */
 /* TABLETS       - 768 x 1024*/
 /* DESKTOP       - 1500 x 1000*/
/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* MEDIA QUERY - SMARTPHONE (411 x 731) */  
/* ---------------------------------------------- */
 @media screen and (min-width: 411px) {

}


/* ---------------------------------------------- */
/* MEDIA QUERY - TABLETS (768 x 1024)*/
/* ---------------------------------------------- */
 @media screen and (min-width: 768px) {
 


/* GERAL ------------------------------------*/

/* HEADER -----------------------------------*/

/* MENU -------------------------------------*/

/* ENTRADAS ---------------------------------*/

/* SAIDAS -----------------------------------*/

}




/* ---------------------------------------------- */
/* MEDIA QUERY - DESKTOP ( 1500 x 1000 )*/
/* ---------------------------------------------- */
@media screen and (min-width: 1500px) {
 
    /* GERAL ------------------------------------*/
    
    /* HEADER -----------------------------------*/
    
    /* MENU -------------------------------------*/
    .box-menu .menu-hamburguer {
        display: none;
    }
    .box-menu .menu-fechar {
        display: none;
    }
    
    .box-menu .menu {
        display: flex;
        position: inherit;
        width: fit-content;
        white-space: nowrap;
        background: white;
        color: black;
        flex-direction: row;
    }
    
    .menu .menu-separador {
        display: block;
        
}

    /* ENTRADAS ---------------------------------*/
    
    /* SAIDAS -----------------------------------*/
    
    }